<!--редактирование данных студента-->
<div class="ui container">
  {{> head}}
  <h2>Редактировать данные студента</h2>
  <form class="ui form" action="" method="POST">
    <div class="field">
      <label>Фамилия</label>
      <input type="text" name="surname" value='{{student.surname}}' required>
    </div>
    <div class="field">
      <label>Имя</label>
      <input type="text" name="name" value='{{student.name}}' required>
    </div>
    <div class="field">
      <label>Отчество</label>
      <input type="text" name="patronim" value='{{student.patronim}}' required>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Дата рождения</label>
        <input type="date" name="date" value='{{student.date}}' required>
      </div>
      <div class="field">
        <label>Факультет</label>
        <input type="text" name="faculty" value='{{student.faculty}}' required>
      </div>
      <div class="field">
        <label>Группа</label>
        <input type="text" name="group" value='{{student.stud_group}}' required>
      </div>
    </div>

    <button class="ui button" type="submit">Редактировать</button>
  </form>
</div>
